# Copyright 2023 CommunityUtils Authors
/HSDS2C.cpp
/HSDS2C.h
/HSDS2C.inl
/HSDS2S.cpp
/HSDS2S.h
/HSDS2TypeSupport.idl
/HSDS2TypeSupportC.cpp
/HSDS2TypeSupportC.h
/HSDS2TypeSupportC.inl
/HSDS2TypeSupportImpl.cpp
/HSDS2TypeSupportImpl.h
/HSDS2TypeSupportS.cpp
/HSDS2TypeSupportS.h
/HSDS3C.cpp
/HSDS3C.h
/HSDS3C.inl
/HSDS3S.cpp
/HSDS3S.h
/HSDS3TypeSupport.idl
/HSDS3TypeSupportC.cpp
/HSDS3TypeSupportC.h
/HSDS3TypeSupportC.inl
/HSDS3TypeSupportImpl.cpp
/HSDS3TypeSupportImpl.h
/HSDS3TypeSupportS.cpp
/HSDS3TypeSupportS.h
