*~
.depend*
.obj
GNUmakefile*
TimeC.cpp
TimeC.h
TimeC.inl
TimeReader
TimeS.cpp
TimeS.h
TimeTypeSupport.idl
TimeTypeSupportC.cpp
TimeTypeSupportC.h
TimeTypeSupportC.inl
TimeTypeSupportImpl.cpp
TimeTypeSupportImpl.h
TimeTypeSupportS.cpp
TimeTypeSupportS.h
TimeWriter
cookies.txt
setenv.sh
time_reader_security_docs
time_writer_security_docs
